

.geoMap_wrapper {
  width: 100%;
  height: 480px;
  padding: 0;
  margin: 0;
}
.geoMap_wrapper #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  .geoMap_menu_wrapper {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .geoMap_menu_wrapper::-webkit-scrollbar {
    width: 5px;
    /* for vertical scrollbars */
    height: 5px;
    /* for horizontal scrollbars */
  }
  .geoMap_menu_wrapper::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  .geoMap_menu_wrapper::-webkit-scrollbar-thumb {
    background: #477ae0;
  }
}
.geoMap_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ececec;
  background-color: #fff;
}
.geoMap_menu .geoMap_menu_group > span {
  display: block;
  padding: 10px;
  color: #da305e;
  font-weight: 600;
}
.geoMap_menu .geoMap_submenu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.geoMap_menu .geoMap_submenu::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.geoMap_menu .geoMap_submenu::-webkit-scrollbar-thumb {
  background: #477ae0;
}
.geoMap_menu li a {
  text-decoration: none;
}
.geoMap_submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.geoMap_submenu li {
  font-weight: 400;
  font-size: 90%;
  padding: 6px 6px 6px 12px;
  border-bottom: 1px solid #ececec;
}
.geoMap_submenu li a {
  color: #444444;
}
.geoMap_submenu li:last-of-type {
  border-bottom: none;
}
.geoMap_submenu li.active {
  border: 1px solid #da305e;
}
.geoMap_submenu li:not(.active) {
  border: 1px solid #fff;
  border-bottom: 1px solid #ececec;
}
.geoMap_submenu li:not(.active):last-of-type {
  border-bottom: none;
}
.geoMap_submenu_name {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}
.geoMap_submenu_content {
  display: block;
  margin-bottom: 3px;
}
.geoMap_submenu_time {
  display: block;
  color: #777777;
}
.geoMap_submenu_time:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/clock.png);
  margin-right: 8px;
  vertical-align: middle;
}
.geoMap_submenu_time span {
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .geoMap_wrapper {
    margin-bottom: 25px;
  }
}
@media (max-width: 480px) {
  .geoMap_wrapper {
    height: 50vh;
  }
}